@page "/events"
@inject EventService EventService;
@using EventEaseApp.Components

<h3>EventList</h3>
@if (EventService.Events == null)
{
    <p><em>Loading...</em></p>
}
else if (EventService.Events.Count == 0)
{
    <p><em>No events found.</em></p>
}
else
{
    @foreach (var e in EventService.Events)
    {
        <EventCard Event=e />
    }
}

@code {
    protected override async Task OnInitializedAsync()
    {
       EventService.LoadEvents();
    }
}
