@page "/events"
@inject EventService EventService;
@inject ParticipantService ParticipantService;
@inject ParticipantState ParticipantState;
@using EventEaseApp.Components
@using Microsoft.AspNetCore.Components.Web.Virtualization
<PageTitle>Event List</PageTitle>

<ParticipantSelector />
<h3>EventList</h3>
@if (EventService.Events == null)
{
    <p><em>Loading...</em></p>
}
else if (EventService.Events.Count == 0)
{
    <p><em>No events found.</em></p>
}
else
{
    <Virtualize Items="@EventService.Events" ItemSize="50">
        <ItemContent Context="e">
            <EventCard Event="e" DisplayShort="true" IsEditable="false" />
        </ItemContent>
    </Virtualize>
}

@code {
    protected override async Task OnInitializedAsync()
    {
        await EventService.LoadEventsAsync();
    }
}
