@page "/"
@using EventEaseApp.Components

@inject EventEaseApp.ParticipantService ParticipantService
@inject EventEaseApp.ParticipantState ParticipantState

<PageTitle>EventEase</PageTitle>

<h1>Welcome to Event EventCard App</h1>

<p>EventEase is a simple app to manage your events.</p>

<ParticipantSelector />

@if (ParticipantState.SelectedParticipant != null)
{
    <h4>Participant Details</h4>
    <p><strong>Name:</strong> @ParticipantState.SelectedParticipant.FirstName @ParticipantState.SelectedParticipant.LastName</p>
    <p><strong>Email:</strong> @ParticipantState.SelectedParticipant.Email</p>
    <p><strong>Phone Number:</strong> @ParticipantState.SelectedParticipant.PhoneNumber</p>
}

@code {
   

    
}