@page "/registration"
@using EventEaseApp.Components
@inject EventService EventService;
<h3>Register new Participant</h3>

<RegistrationFormComponent></RegistrationFormComponent>
<ParticipantListComponent></ParticipantListComponent>

@code {
    
}