<section class="attendee-list">
    <h4 @onclick="CollapseList" style="cursor: pointer;">
        Participants
        <span aria-hidden="true" class="@GetChevronClass()"></span>
    </h4>

    @if (!collapseList)
    {
        @if (EventModel?.Participants != null && EventModel.Participants.Any())
        {
            <div class="participant-list border rounded p-2">
                <ul class="list-unstyled">
                    @foreach (var participant in EventModel.Participants)
                    {
                        <li class="mb-2">
                            <strong>Name:</strong> @participant.FirstName @participant.LastName <br />
                            <strong>Email:</strong> @participant.Email
                        </li>
                    }
                </ul>
            </div>
        }
        else
        {
            <p>No participants found.</p>
        }
    }
</section>

@code {
    [Parameter]
    public EventModel EventModel { get; set; } = new EventModel();

    private bool collapseList = true;

    private void CollapseList()
    {
        collapseList = !collapseList;
    }

    private string GetChevronClass()
    {
        return collapseList ? "bi-chevron-down" : "bi-chevron-up";
    }
}