@inject EventEaseApp.ParticipantService ParticipantService
@inject EventEaseApp.ParticipantState ParticipantState

<h3>Select a Participant</h3>
<select @bind="selectedParticipantId"  class="form-control">
    <option value="">-- Select a Participant --</option>
    @foreach (var participant in participants)
    {
        <option value="@participant.Id">@participant.FirstName @participant.LastName</option>
    }
</select>

@code {
    private List<Participant> participants;
    private int? selectedParticipantId;

    protected override void OnInitialized()
    {
        participants = ParticipantService.GetParticipants().ToList();
        if (ParticipantState.SelectedParticipant != null)
        {
            selectedParticipantId = ParticipantState.SelectedParticipant.Id;
        }
    }

    private void OnParticipantSelected(ChangeEventArgs e)
    {
        if (int.TryParse(e.Value.ToString(), out int selectedId))
        {
            var selectedParticipant = ParticipantService.GetParticipantById(selectedId);
            ParticipantState.SetSelectedParticipant(selectedParticipant);
        }
    }
}
