<section class="attendee-list">
    <h4 @onclick="CollapseList" style="cursor: pointer;">
        Attendees
        <span aria-hidden="true" class="@GetChevronClass()"></span>
    </h4>

    @if (!collapseList)
    {
        @if (Event?.Participants != null && Event.Participants.Any())
        {
            <ul>
                @foreach (var participant in Event.Participants)
                {
                    <li>
                        <strong>Name:</strong> @participant.FirstName @participant.LastName <br />
                        <strong>Email:</strong> @participant.Email
                    </li>
                }
            </ul>
        }
        else
        {
            <p>No participants found.</p>
        }
    }
</section>

@code {
    private bool collapseList = true;
    [Parameter]
    public Event Event { get; set; } = new Event();

    private void CollapseList()
    {
        collapseList = !collapseList;
    }

    private string GetChevronClass()
    {
        return collapseList ? "bi-chevron-down" : "bi-chevron-up";
    }
}