@inject EventEaseApp.ParticipantService ParticipantService
@inject EventEaseApp.ParticipantState ParticipantState

<h3>Select a Participant</h3>
<select @bind="selectedParticipantId" class="form-control">
    <option value="">-- Select a Participant --</option>
    @foreach (var participant in ParticipantService.GetParticipants())
    {
        <option value="@participant.Id">@participant.FirstName @participant.LastName</option>
    }
</select>

@code {
    private int? selectedParticipantId;

    protected async override Task OnInitializedAsync()
    {
        await ParticipantService.LoadParticipantsAsync();
        if (ParticipantState.SelectedParticipant != null)
        {
            selectedParticipantId = ParticipantState.SelectedParticipant.Id;
        }
    }

    private int? SelectedParticipantId
    {
        get => selectedParticipantId;
        set
        {
            selectedParticipantId = value;
            if (selectedParticipantId.HasValue)
            {
                var selectedParticipant = ParticipantService.GetParticipantById(selectedParticipantId.Value);
                ParticipantState.SetSelectedParticipant(selectedParticipant);
            }
            else
            {
                ParticipantState.SetSelectedParticipant(null);
            }
        }
    }
}
